# SEGGER Embedded Studio
*.o
*.obj
*.d
*.dep
*.map
*.lst
*.hex
*.bin
*.elf
*.axf
*.out
*.log
*.sct
*.crf
*.htm
*.lnp
*.plg
*.bak
*.tmp

Output/
Debug/
Release/
settings/
.cproject/
.project/
.metadata/

# KiCad
*.bak
*.tmp
*.backup
*.kicad_sch-bak
*.kicad_pcb-bak
*.kicad_prl
*.kicad_sch-bkp
*.kicad_pcb-bkp
*.kicad_mod
*.kicad_wks
*.kicad_sym
*.kicad_footprint
*.net
*.xml
*.dcm
*.cmp
*.cache
*.sch-bak
*.pcb-bak
*.save
*.svg
*.pdf
*.ps
*.eps
*.step
*.stp
*.3dshapes/
fp-info-cache
__pycache__/
*.pyc

# Ignore simulation and export folders
simulation/
exports/
gerbers/
fabrication/